<h1>History</h1>
{% comment %} maybe when you use only the name of the path without application: only works on older version of django {% endcomment %}
<a href="{%url 'application:taskList'%}">Go back </a>
{% if history %}
<form accion="{% url 'application:taskList' %}" method='get'>
    <input type="text" name='search_area'placeholder='Search...'>
    
</form>
<table>
    <tr>
        <th>Task</th>
        <th>Date</th>
    </tr>
    {% for task in history %}
    <tr>
        <td>{{task.title}}</td>
        <td>{{task.created}}</td>
        <td><a href="{%url 'application:delete' task.id %}">Delete</a></td>
        <td><a href="{%url 'application:detail' task.id %}">Detail</a></td>
    </tr>
    
        
    {% endfor %}
</table>
{% else %}
<h3>No haven't had completed tasks yet</h3>
{% endif %}