{%if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href="{%url 'application:logout'%}">Log out</a>
{% else %}
<a href="{% url 'application:login' %}">Login</a>
{% endif %}

<hr>

<a href="{% url 'application:taskList' %}"><h1>My to do list</h1></a>

{% comment %} maybe when you use only the name of the path without application: only works on older version of django {% endcomment %}


<a href="{% url 'application:create' %}">Add task</a>
<a href="{%url 'application:history'%}">History</a>
{% if tasks %}
<form accion="{% url 'application:taskList' %}" method='get'>
    <input type="text" name='search_area'placeholder='Search...'>
    
</form>
<table>
    <tr>
        <th>Task</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{%url 'application:detail' task.id%}">Detail</a></td>
        <td><a href="{%url 'application:update' task.id %}">Update</a></td>
    </tr>        
    {% endfor %}
</table>
{% else %}
<h3>No items in list yet</h3>
<a href="{% url 'application:taskList' %}">Home</a>
{% endif %}